@import '../../variables'

.container-form-create
  margin-bottom 8px
  box-shadow 1px 1px 1px rgba(0, 0, .7, .1)
  padding 0 !important

  &.open
    padding 8px !important

  &-title
    font-size 150%
    text-align center
    
    ~/.open &
      display none

  &-error
    font-weight 700
    color red

  &-content
    display none

    ~/.open &
      display block