@import '../../variables'

#header
  width 100%
  height $header-height
  margin-bottom 8px

  position sticky
  top 0

  border-bottom 1px solid rgba(0, 0, 0, .125)

  &-title
    text-align center
    padding-top 12px