@import '../../variables'

#toggler
  position fixed
  left $sidebar-width
  margin-left 12px
  top 70%
  
  z-index 20000
  
  transition all $transition-duration ease-out
  transition-property left
  
  cursor pointer

  &.sidebar-removed
    left 0